@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(230, 230, 230);
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px;
}

.main-container h1 {
    margin-right: 100px;
    margin-left: 28%;
    font-size: 3rem;
}



.main-container #dark-light-theme {
    font-size:2rem;
    cursor: pointer;
}

#description {
    font-size: 1.5rem;
}

#generate-password {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
}

#generate-password:hover {
    background-color: rgb(156, 156, 156);
}

.password-container {
    background-color: rgba(100, 100, 100, 0.136);
    width: 50%;
    margin: auto;
    border-radius:30px;
    border-style:solid;
    margin-top:40px;
}

.password-container p {
    font-size: 3rem;
}

@media screen and (max-width:1024px) {
    .main-container h1 {
        margin-right: 240px;
    }
}

@media screen and (max-width:1000px) {
    .main-container h1 {
        margin-left: 25%;
    }   
}

@media screen and (max-width: 550px) {
    .main-container {
        display: block;
    }

    .main-container h1 {
        margin:0;
    }
}

@media screen and (max-width:447px) {

    #generate-password {
        font-size: 1rem;
    }

    .password-container p{
        font-size: 2rem;
        width: auto;
    }
}

.dark-theme {
    background-color:rgb(23, 23, 23);
    color: white;
}